/*Breakpoints*/
@mixin bp ($p){
    @if ($p == 's'){
        @media screen and (max-width:400px){@content;}
    }
    @else if ($p == 'm'){
        @media screen and (max-width:800px){@content;}
    }
    @else if ($p == 'l'){
        @media screen and (max-width:1000px){@content;}
    }
}
// Keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {@content;}
  @-moz-keyframes #{$name} {@content;}
  @-ms-keyframes #{$name} {@content;}
  @keyframes #{$name} {@content;}
//@content;
}

/*Keyframes*/
@include keyframes(fadeIn) {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@include keyframes(slideUp){
    0%{
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
        opacity: 0.5;
    }
    100%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

/*Variables*/
$colour1: #1aa7cb;
$colour2: #FD6A62;
$colour3: #6FC26B;
$colour4: #484D79;

html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}
body{
    background-color: $colour1;
}

body, footer, #wrap, #main{
    transition: all linear 0.3s;
}
/*
.aboutColour{
    background-color: $colour2;

    nav a{
        color: $colour2;
    }

    #main, footer{
        background-color: $colour2;
    }
}
.workColour{
    background-color: $colour3;

    nav a{
        color: $colour3;
    }

    #main, footer{
        background-color: $colour3;
    }
}
.etcColour{
    background-color: $colour4;

    nav a{
        color: $colour4;
    }

    #main, footer{
        background-color: $colour4;
    }

}*/
.wrap{
    min-height: 100%;
}
#main{
    background-color:$colour1;
    color: #fff;
    position: relative;
    font-size: 2rem;
    z-index: 99;
    overflow: auto;
    padding-bottom: 120px;

    p{
        line-height: 1.5em;
    }

    @include bp(m){
        font-size: 2rem;
    }

    @include bp(s){
        font-size: 1.7rem;
    }
}

.intro{
    font-size: 4rem;
    text-align: center;
    margin: 22% 0;
}

.about{
    padding: 5%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 75%;

    @include bp(s){
        width: 90%;
    }
}

.h{
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}
.e{
    -webkit-animation: fadeIn 3.5s;
    animation: fadeIn 3.5s;
}
.l{
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;
}
.l2{
    -webkit-animation: fadeIn 4.5s;
    animation: fadeIn 4.5s;
}
.o{
    -webkit-animation: fadeIn 5s;
    animation: fadeIn 5s;
}
.period{
    -webkit-animation: fadeIn 5.5s;
    animation: fadeIn 5.5s;
}

h1{
    font-weight: normal;
    margin-top: 0;
}

#work{

    .post{
            color: #fff;
            margin-left: auto;
            margin-right: auto;
            max-width: 1500px;
            min-height: 300px;
            width: 100%;
            -webkit-animation: slideUp 1s;
            animation: slideUp 1s;
            border-bottom: 4px solid #fff;

        h2{
            font-size: 2rem;
            width: 100%;
            color: #fff;
            margin-top: 20px;
            margin-bottom: 0;
            height: 40px;
            padding-top: 10px;
            text-transform: uppercase;
        }

        p{
            float: left;
            font-size: 1.5rem;
            width: 40%;
        }

        a{
            font-size: 1.4rem;
            text-decoration: none;
            text-transform: uppercase;
            opacity: 0.6;
            transition: all linear 0.3s;
            color: #fff;
            display: block;

            &:hover{
                opacity: 1;
            }

        }
        .postDetails{
            display: block;
            min-height: 300px;
            padding-left: 5%;
        }

        &:nth-child(even){
            text-align: right;

            p{
                float: right;
            }

            .postDetails{
                padding-left: 0;
                padding-right: 5%;
            }
        }

        &:last-child{
            border-bottom: 0;
        }

        @include bp(s){
            width: 100%;
            text-align: left;

            .postDetails{
                text-align: left;
                padding-left: 5%;
                padding-right: 5%;
            }
            p{
                float: none;
                width: 100%;
            }
            &:nth-child(even){
                text-align: right;

                .postDetails{
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
        }
    }
}

.mainNavigation{
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: $colour1;
    text-align: center;

    a{
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0 5%;
        cursor: pointer;
        position: relative;
        top: 14px;
        margin-left: -2%;
        color: $colour1;
        text-decoration: none;
    }
}
footer{
    background-color: $colour1;
    color: #fff;
    width: 100%;
    z-index: 100;
    position: fixed;
    bottom: 0;
    height: 120px;
    clear: both;

    p.copy{
        float: left;
        margin-top: 20px;
        margin-left: 5%;
        font-weight: bold;
    }
    .social{
        float: right;
        margin-top: 20px;
        font-weight: bold;
        width: 100%;
        text-align: center;

        a{
            color: #fff;
            margin: 0 1%;
            text-decoration: none;
        }
    }
}