<article class="angular">
  <h2>Models and data binding example (including $scope.$watch)</h2>
  <label>Message:</label>
  <input type="text" data-ng-model="yourmessage" placeholder="Your message here"/>
  <label>Name:</label>
  <input type="text" data-ng-model="yourname" placeholder="Your name here"/>
  <p>{{yourmessage || "Type your message above,"}} {{yourname || "eejit!"}}</p>
  
  <div data-ng-controller="FirstController">
      <input data-ng-model="name">
    <h2>{{name}}</h2>
    <h2>{{age}}</h2>
  </div>
  
   <div data-ng-controller="SecondController">
      <input data-ng-model="name">
    <h2>{{name}}</h2>
    <h2>{{age * 10}}</h2>
  </div>
  
  <a href="/#/directives">Next, directives</a>
</article>