<article class="directives">
    <h2>Directives</h2>
    <p>ng-show: Check the box to change the model to "True"</p>
    <input type="checkbox" data-ng-model="checkOne"><label>Show</label>
    <p data-ng-show="checkOne">Hi!</p>
    <p>ng-hide: Same again - check the box, model = True</p>
    <input type="checkbox" data-ng-model="checkTwo"><label>Hide</label>
    <p data-ng-hide="checkTwo">Hide me!</p>
    <p>ng-repeat: The thing that HTML always needed</p>
    <ul data-ng-controller="ListController">
      <li data-ng-repeat="name in names">{{name}}</li>
    </ul>
  <a href="/#/filters">Filters</a>
</article>